.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 24px;
    max-width: 1200px;
}

.headerLogo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.header {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.navList {
    display: flex;
    gap: 32px;
}

.navList a {
    text-decoration: none;
    font-size: 20px;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.navList a:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
    background-color: var(--primaryPink);
    color: white;
}

.active {
    color: var(--primaryPink);
}   
